$site-header-height-m: 60px;
$site-header-height-t: 60px;
$site-header-height-d: 130px;

$site-hero-height-m: 350px;
$site-hero-height-t: 350px;
$site-hero-height-d: 100vh;

$timelineHeight: 320px;

$modal-width-s: 100vw;
$modal-width-t: 320px;
$modal-width-d: 320px;

$blueprintMaxWidth: 800px;

$transition: all .4s ease;
$text-shadow: 1px 1px 5px rgba($color-grey, 10%);

$box-shadow: 0 1px 10px rgba(0,0,0,0.4);