#faqs {
    @include inuit-font-size(14px, 25px);

    #site-footer & {
        padding-top: 50px;
        padding-bottom: 50px;
        h2 {
            @include inuit-font-size(72px);
            text-transform: none;
        }
    }
   
    .faqs-list {
        list-style: none;
        margin: 0;
        li {
            margin-bottom: 25px;
            display: none;
            &.active {
                display: block;
            }
        }
        p {
            margin-bottom: 0;
            &.question {
                @include font-weight('bold');
                cursor: pointer;
            }
        }
        a {
            color: $color-white;
            text-decoration: underline;
        }
    }

    .button-wrapper{
        display: flex;
        justify-content: center;
    }

    .btn-more {
        width: 40px;
        height: 40px;
        position: relative;
        padding: 0;
        margin: 0;
        border: 0;
        background: transparent;
        @include attention() {
            transform: translateY(5px);
        }
        &:before {
            content: '';
            background-image: url('../assets/images/open-list-btn.svg');
            background-repeat: no-repeat;
            width: 20px;
            height: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &.active {
            transform: rotate(-180deg);
        }
    }
}