.block-content {
    font-family: $font-serif;
    @include inuit-font-size(14px, 22px);
    @include font-weight('regular'); 
    font-style: italic;
    text-align: justify;
    @include mq($from: desktop) {
        @include inuit-font-size(14px, 25px);
        &.multiple-rows {
            .row {
                > div {
                    &:first-child {
                        h1 + * {
                            margin-left: 60px;
                        }
                    }
                    &:last-child {
                        h1 {
                            text-align: right;
                            float: right;
                            & + * {
                                clear: right;
                                margin-right: 60px;
                            }
                        }
                    }
                }
            }
        }
    }

    h1 {
        @include inuit-font-size(35px, 35px);
        font-style: normal;
        text-align: left;
        @include mq($from: desktop) {
            @include inuit-font-size(40px, 40px);
            max-width: 80%;
        }
    }

    &.big-heading {
        h1 {
            max-width: none;
            @include inuit-font-size(45px, 45px);
            @include mq($from: desktop) {
                @include inuit-font-size(50px, 50px);
            }
        }
    }

    .wyswyg {
        ul {
            @extend %list;
        }

        img {
            margin-bottom: 25px;
            //width: 100%;
            height: auto;
        }
    }
}