#c-blueprint {
    .home & {
        .inner {
            display: flex;
            flex-wrap: wrap;
            max-width: $blueprintMaxWidth;
            margin: 0 auto;
            @include mq($from: tablet) {
                flex-wrap: nowrap;
                justify-content: space-between;
                flex-direction: row-reverse;
                align-items: center;
            }
        }
        .filters {
            list-style: none;
            margin: 0;
            margin-bottom: 25px;
            display: flex;
            justify-content: center;
            width: 100%;
            @include mq($from: tablet) {
                width: auto;
                margin-bottom: 0;
                flex-direction: column;
            }
            li {
                &:not(:last-child) {
                    margin-right: 8px;
                }
                transition: $transition;
                cursor: pointer;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                @include attention() {
                    background-color: $color-green;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg {
                        fill: $color-white;
                        stroke: $color-white;
                    }
                }

                &.active {
                    background-color: $color-green;
                    svg {
                        fill: $color-white;
                        stroke: $color-white;
                    }
                }

                @include mq($from: tablet) {
                    &:not(:last-child) {
                        margin: 0;
                        margin-bottom: 10px;
                    }
                }

                svg {
                    width: 30px;
                    fill: $color-green;
                    stroke: $color-green;
                }

            }
        }

        .blueprints {
            list-style: none;
            margin: 0;
            position: relative;
            width: 100%;
            @include mq($from: tablet) {
                width: 89%;
            }
            li {
                position: relative;
                opacity: 0;
                transition: $transition;
                &.active {
                    opacity: 1;
                }
                &:not(:first-child) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
            img {
                width: 100%;
            }
        }

        .c-modal {
            .media {
                @include mq($from:tablet) {
                    display: none;
                }
            }
        }
    }
}